/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

div.wp-block-location-block-location-block {
	display: grid;
	grid-template-columns: 1fr 3fr 4fr;
}

.wp-block-location-block-location-block>div{
	border: 1px solid var(--wp--preset--color--contrast);
	padding: var(--wp--preset--spacing--20);
}

.LocationPannel{
	grid-area: 1/ 1 / span 2 / span 1;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
	-webkit-align-items:center;
	-webkit-flex-direction:column;
	justify-content: space-between;
	-webkit-justify-content:space-between;
	background-color:rgba($color: #000000, $alpha: 0.75);
	color:var(--wp--preset--color--base);
	background-blend-mode: multiply;
	background-attachment: fixed;
}

.LocationPannel span.rule{
	display: block;
	flex-grow: 1;
	width: 1px;
	height: 100%;
	background-color: var(--wp--preset--color--base);
}
.LocationName{
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction:column;
	justify-content: space-between;
	-webkit-justify-content:space-between;
}
.LocationName *{
	margin: 0;
}
.Positions{
	padding: 0px !important;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction:column;
}
.Positions>*{
	flex-grow: 0;
	height: 100%;
	margin: 0 !important;
}
.Positions>div.LocationMap{
	background-color: var(--wp--preset--color--accent);
	width: 100%;
	height: 100%;
	flex-grow: 1;
	min-height: 100px;
	background-attachment: fixed;
}
.Overview{
	grid-area: 2/ 2 / span 1 / span 2;
}

@media  screen and (min-width: 768px) {
	.LocationPannel :where(h3, h4){
		display: none;
	}
}

@media screen and (max-width: 768px){

	div.wp-block-location-block-location-block {
		display: block;
	}

	.LocationName{
		display: none;
	}

	.LocationPannel{
		display: grid;
		grid-template-columns: auto 1fr auto;
		grid-template-rows: auto auto auto;
		grid-gap: 1rem;
	}
	.LocationPannel :is(h3, h4, p){
		color: var(--wp--preset--color--base) !important;
		margin: 0px;
	}
	.LocationPannel h4{
		grid-area: 1/1/span 1/span 3;	
	}
	.LocationPannel h3{
		grid-area: 2/1/span 1/span 3;	
	}

	.LocationPannel span.rule{
		height: 2px;
		width: 100%;
	}


}